<h1>Welcome</h1>
<b>Name:</b><%= @ad.name %>
<b>Description:</b><%= @ad.description %>
<b>Price:</b><%= @ad.price %>
<b>Seller Id:</b><%= @ad.seller_id %>
<b>Email:</b><%= @ad.email %>
<b>Img:</b><img src='<%= @ad.img_url %>' />
